
body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: #fff;
    height: 100%;
}

h1 {
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 1.5;
}

h2 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

h3 {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.5;
}

p {
    color: #8f8f8f;

}

.navbar-brand { 
    font-size: 3.5rem;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}

.nav-item { 
    padding: 0 1rem;
    font-size: 20px;
}

.nav-link {
    font-size: 1.4rem;
    font-weight: 400;
}


.container-fluid {
    padding: 3% 15% 7%;

}

/* Outer Container */

.outer-container { 
    padding-top: 6%;
}

/* Download Button */

.download-btn { 
    font-weight: 500;
    margin: 5% 1%;
}

/* Title Image */


.title-img { 
    position: absolute;
    z-index: 0;
    transform: rotate(25deg);
    width: 60%;
    right: 30%;
}

@media (max-width: 1024px){
    .title-img {
        position: static;
        transform: rotate(0);
        width: 60%;
    }
}


@media (max-width: 1024px){
    .outer-container {
        text-align: center;
    }
}


/* Features Section  */

#features {
    position: relative;
    text-align: center;
    padding: 10% 0;
    background-color: white;
    z-index: 1;
}

.features-icon {
    color: #ef8172;
    font-size: 7rem;
    padding-bottom: 1rem;
}

.features-icon:hover {
    color: #ff4c68;
}

.features-title {
    font-weight: 900;
}


/* Testimonials  */

#testimonials {
    background-color: #ef8172;
    color: #fff;
    text-align: center;
    
}
.carousel-item {
    padding: 7% 15%;

}
.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 7%;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;

}


/* Call To Action */

#cta {
    background-color: #ff4c68;
    color: white;
    text-align: center;
    padding:5%;
}
.cta-title {
    font-size: 70px;
    margin: 0 15%;
}

#footer {
    text-align: center;
    padding: 5rem;
    font-size: 20px;

}

.footer-brand {
    margin: 3rem 0.75rem 0;
}
.footer-copyright {
    margin: 1rem 0;
}